# سیستم‌عامل
.DS_Store
Thumbs.db

# فایل‌های لاگ (اگر اسکریپت را طوری تنظیم کردید که خروجی ذخیره کند)
*.log

# فایل‌های موقت ویرایشگرها
*.swp
*~
.vscode/
.idea/

# فایل‌های اجرایی که ممکن است توسط خودتان ساخته شود
# (اگر نمی‌خواهید فایل‌های تست در گیت‌هاب باشند)
test.sh
temp/
